@import "~bootstrap/scss/bootstrap.scss";
@import "./partials/generic/variables.scss";
@import "./partials/generic/mixins.scss";
@import "./partials/pages/header.scss";
@import "./partials/pages/footer.scss";
@import "./partials/pages/shop-banner.scss";
@import "./partials/pages/main-content.scss";
@import "./partials/pages/main-comics.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// || GENERAL
body {
    font-family: sans-serif;
    background-color: #1c1c1c;
    color: white;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

h2{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.8rem;
}

// || JUMBOTRON
.jumbotron {
    height: 375px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
}
