@import "~bootstrap/scss/bootstrap.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0282f9;
    --bg-footer: #303030;
    --font-black: #000000;
    --font-grey: #797979;
}

// || GENERAL
body {
    font-family: sans-serif;
    background-color: #1c1c1c;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

// || UTILS
.container {
    max-width: 1180px;
    margin: 0 auto;
}

.row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// || HEADER
header {
    background-color: white;

    img {
        width: 85px
    }

    nav ul {
        li {
            text-transform: uppercase;
            margin: 0 .75rem;
            padding: 3rem 0;
            border-bottom: 5px solid transparent;
            font-size: .85rem;
            font-weight: bold;

            &.active {
                border-bottom-color: var(--primary-color);
            }

            a {
                color: var(--bg-footer);
            }
        }
    }
}

footer {
    div.container {
        height: 100%;
    }

    section.footer-nav{
        background-image: url(../img/footer-bg.jpg);
        background-size: cover;
        height: 375px;
        overflow-y: clip;

        .nav-wrapper {
            display: flex;
            flex-flow: column wrap;
            height: 100%;
            padding: 3rem 0;

            nav {
                margin-right: 2rem;
                margin-bottom: .5rem;

                h2 {
                    margin-bottom: .8rem;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }

                li {
                    margin-bottom: .3rem;
                    font-size: .8rem;
                }
            }
        }

        a {
            color: var(--font-grey);
        }

        a:hover{
            text-decoration: underline;
            color: white;
        }
    }

    section.footer {
        background-color: var(--bg-footer);
        padding: 2rem 0;

        button {
            text-transform: uppercase;
            background-color: transparent;
            color: white;
            padding: 1rem;
            border: 2px solid var(--primary-color);
            cursor: pointer;
        }

        .socials {
            h2 {
                text-transform: uppercase;
                color: var(--primary-color);
                margin-right: 1.5rem
            }

            ul li {
                    margin: 0 .75rem;
            }
        }
    }
}
